<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin disabled="false" name="Megleo_Delivery_Plugin_ShippingAddressManagement" sortOrder="10" type="Megleo\Delivery\Plugins\ShippingAddressManagementPlugin"/>
    </type>
    <type name="Magento\Quote\Api\ShipmentEstimationInterface">
        <plugin disabled="false" name="Megleo_Delivery_Plugin_ShipmentEstimationPlugin" type="Megleo\Delivery\Plugins\ShipmentEstimationPlugin"/>
    </type>
</config>